.status-ok {
  font-weight: bold;
  color: #7ad67a;
}

.status-not-ok {
  font-weight: bold;
  color: #ff5f5f;
}

.floating-btn {
  margin-bottom: 10px;
  margin-top: -10px;
}

.v-resize-only {
  resize: vertical;
}

.negative-panel {
  margin-top: -22px;
}

.login-err-msg {
  color: red;
  font-size: 16px;
  text-align: center;
}

.sad {
  height: 150px;
  opacity: 0.45;
  margin: 3%;
}

.not-allowed{
  cursor:not-allowed;
}

.inline-block{
  display: inline-block;
}
span .required
{
  margin-left: 3px;
  color: red;
}

.information{
  color: rgb(100, 170, 249);
  cursor: pointer;
  font-size: 20px;
}

.upload-notice{
  color: red;
  margin-bottom: -10px;
}

tr.clickable-row{
  cursor: pointer;
}
tr.clickable-row:hover{
  opacity:0.8;
}

.panel-default > .panel-heading{
  background-color: transparent !important;
}
.pad-both-20{
  padding-left: 20px;
  padding-right: 20px;
}
#new_project{
  margin: 22px 0px 0px 26px;
}
.bio-shadow{
  font-weight: bold;
  text-shadow: 0px 3px 20px;
  border-bottom: 2.5px solid #7b90ad;
}
#bgc_add, #bio_handle_add, #add_bio_save, #transport_add, #determine_add, #add_bio_recycle, #add_bio_destroy {
    /*margin-left: -150px;*/
    margin-bottom: 20px;
}
/* located at dashboard ADDED BY VAN - 1/11/2017 */

.project-status-row
{
  background: white;
  margin-left: 24px;
  margin-right: 24px;
  height: 60px;
  font-size: 16px;
  line-height: 4;
}

.status-row-highlight
{
  height: 40px;
  margin-top: 10px;
  line-height: 2.5;
  background: #d8eafe;
  border-radius: 5px;
  color: #000000;
}

.project-filters-row
{
  padding: 25px 25px 70px;
  background: white;
  margin: 24px 24px;
}

/* located at dashboard ADDED BY VAN - 1/11/2017 */

.bigger-word-size{ /* fixes #102 */
  font-size: 1.4em;
}

/* homepage.php */
.home-page-header {
  padding: 10px 25px 10px;
  background: white;
  margin: 24px 140px;
  font-size: 18px;
  margin-bottom: 0px;
  border: 0.5px solid #ccc;
}

.home-page-body {
  padding: 10px 25px 10px;
  background: white;
  margin: 24px 140px;
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0.5px solid #ccc;
  border-top: 0px;
}

/* notification.php */
#header_inbox_bar ul {
  width: 400px!important;
  max-width: 400px!important;
  left: -350px;
}

#header_inbox_bar {
  left: 235px;
}

#header_inbox_bar .notify-arrow-red {
  left: 356px;
  border-color: transparent transparent #F1F2F7;
  border-bottom-color: #F1F2F7 !important;
  border-top-color: #F1F2F7 !important;
}

#header_inbox_bar .dropdown-menu {
  overflow-x: hidden;
  height: 334px;
}

.dbl_chk, .dbl_chk_readonly {
    margin-top: 10px;
}
.dashboard-operation:hover {
  color: black !important;
  border-color: black !important;
}

.adder-disable:hover {
  color: black !important;
  border-color: black !important;
}

.hour, .minute, .month, .year{
  display:block;
  font-size: 10px;
}
